.userTypeImage{
  height: 130px;
  width: auto;
  filter: grayscale(60%);
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.userTypeContainer:hover .userTypeImage{
  filter: grayscale(0%);
  transform: scale(1.05);

}
.userTypeContainer.selected .userTypeImage{
  filter: grayscale(0%);
}
.userTypeContainer{
  margin-top: 4.4rem;
}
.userTypeTitle{
  font-weight: normal;
  opacity: 0.7;
}
