<div class="mainSlidesContainer p-2">
<ng-container *ngIf="!loading && projects.length > 0">
  <div>
    <small class="font-weight-light">
      {{selectedNumber+1}}/{{projects?.length}}
    </small>
  </div>
    <h6 class="mt-2">{{selectedProject?.project.projectName}}</h6>
    <p>
      <small>
        {{selectedProject?.project.projectDesc}}
      </small>
    </p>
    <div class="d-flex w-100 justify-content-end m-2 mt-4">
      <div class="d-flex">
        <custom-button
        color="primary"
        [thin]="true"
        [styles]="{'border-radius':'5px'}"
        (clickEvent)="navigateToSelectedProject()"
        [passedClass]="{'mx-1':true,  'font-weight-light':true, 'color-white':true}"
        >
            <small>View Project</small>
        </custom-button>
        <custom-button
        color="primary"
        [thin]="true"
        [styles]="{'border-radius':'5px 1rem 1rem 5px '}"
        (clickEvent)="nextProject()"
        *ngIf="!loading && projects.length > 1"
        [passedClass]="{  'font-weight-light':true,  'color-white':true}">
            <div class="h-100 d-flex">
              <mat-icon inline="true">
                arrow_forward_ios
              </mat-icon>
            </div>
        </custom-button>
      </div>
    </div>
</ng-container>
<ng-container *ngIf="!loading && projects.length == 0">
    <h6 class="font-weight-light color-black mt-4 text-capitalize text-center"><span class="font-weight-bold">{{user.firstName}}</span> Doesn't have any projects yet.</h6>
</ng-container>
</div>
