<div class="mainSlidesContainer p-2">
  <div>
    <small class="font-weight-light">
      1/2
    </small>
  </div>
    <h6 class="mt-2">The Fuckedup Project</h6>
    <p>
      <small>
        A fuzzy search is a process that locates Web pages that are likely to be relevant to a search argument even when the argument does not exactly correspond to the desired information. A fuzzy search is done by means of a fuzzy matching program, which returns a list of results based on likely relevance even though search argument words and spellings may not exactly match. Exact and highly relevant matches appear near the top of the list.
      </small>
    </p>
    <div class="d-flex w-100 justify-content-end m-2 mt-4">
      <div class="d-flex">
        <custom-button
        color="primary"
        [thin]="true"
        [styles]="{'border-radius':'5px'}"
        [passedClass]="{'mx-1':true,  'font-weight-light':true, 'color-white':true}"
        >
            <small>View Project</small>
        </custom-button>
        <custom-button
        color="primary"
        [thin]="true"
        [styles]="{'border-radius':'5px 1rem 1rem 5px '}"
        [passedClass]="{  'font-weight-light':true,  'color-white':true}">
            <div class="h-100 d-flex">
              <mat-icon inline="true">
                arrow_forward_ios
              </mat-icon>
            </div>
        </custom-button>
      </div>
    </div>
</div>
