<perfect-scrollbar class="mainHeaderMenuContainer">
  <div class="menuUserImage" [style.backgroundImage]="userBackgroundImage">

  </div>
  <h6 class="text-center m-0 mt-3">{{user?.firstName}} {{user?.lastName}}</h6>
  <small class="d-block text-center" style="opacity: 0.7;">{{user?.headline}}</small>
  <section class="mt-4">
    <small>Notifications</small>
    <app-notifications-section></app-notifications-section>
  </section>
  <section class="mt-5">
    <app-submenu></app-submenu>
  </section>

</perfect-scrollbar>
