.mainHeaderMenuContainer{
  min-width:300px;
  max-width: 400px;
  width: 30vw;
  min-height: 75vh;
}

.menuUserImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  margin:0 auto;
}

.menuItems{
  background-color: rgba(150,150,150,0.2);
  min-height: 100px;
}
