<div class="projectSidebarContainer">
  <div class="d-flex justify-content-center flex-column align-items-center py-3">
    <div class="projectIcon">
      T
    </div>
    <h6 class="m-0 color-black mt-3">Trash Project</h6>
    <small class="color-black" style="opacity: 0.5;">Where Trash Is Actually Cool</small>
  </div>

  <div class="menuBlock mt-3">
    <ul class="resetList">
      <li class="menuItem" [class.active]="activeTab == 'home'">
        <div class="activeIcon"></div>
        <div class="label">
          <small class="color-black font-weight-light d-flex align-items-center">
            <mat-icon class="mx-1">home</mat-icon>
            Project Home
          </small>
        </div>
      </li>
    </ul>
  </div>

  <div class="menuBlock mt-4">
    <h6 class="mx-1">
      Manage
    </h6>
    <ul class="resetList">
      <li class="menuItem">
        <div class="activeIcon"></div>
        <div class="label">
          <small class="color-black font-weight-light d-flex align-items-center">
            <mat-icon class="mx-1">people</mat-icon>
            Manage Team Members
          </small>

        </div>
      </li>

      <li class="menuItem">
        <div class="activeIcon"></div>
        <div class="label">
          <small class="color-black font-weight-light d-flex align-items-center">
            <mat-icon class="mx-1">add_box</mat-icon>
            Manage Join Requests
          </small>
        </div>
      </li>

    </ul>
  </div>
  <div class="menuBlock mt-4">
    <h6 class="mx-1">
      Timeline
      <small style="color: #da1f26; opacity: 0.6; font-size: 0.7rem;" class="mx-1">
        Coming Soon
      </small>
    </h6>
    <ul class="resetList">
      <li class="menuItem">
        <div class="activeIcon"></div>
        <div class="label">
          <small class="color-black font-weight-light d-flex align-items-center">
            <mat-icon class="mx-1">timeline</mat-icon>
           View Project Timeline
          </small>

        </div>
      </li>

    </ul>
  </div>
</div>
