<div class="fullWidthHeight bg-pink d-flex justify-content-center align-items-center">
  <div style="width: 60vw; min-height: 65vh;  border-radius: 0.5rem;" class="px-3 py-2 shadow-lg bg-white ">
    <h4 class="font-weight-light font-main text-center color-black mt-4">
      <span class="font-weight-bold ">Now,</span> Let’s Start By Getting To Know
      <h3 class="font-weight-bold mt-2 ">
        Who You Are?
      </h3>
    </h4>
    <div class="d-flex justify-content-center mt-5">
      <div class="mx-5">
          <div class="iconBox d-flex justify-content-center align-items-center">
            <img src="/assets/teacher.svg" width="50%" height="auto">

          </div>

          <h6 class="text-center font-main font-weight-light mt-3">
              Instructor
          </h6 >
      </div >
      <div class="mx-5">
        <div class="iconBox d-flex justify-content-center align-items-center">
          <img src="/assets/student.svg" width="50%" height="auto">
        </div>

        <h6 class="text-center font-main font-weight-light mt-3">
            Student
        </h6>
      </div>
    </div>


  </div>

</div>
