<header class="px-2">
  <div class="upperSide d-flex justify-content-between align-items-center">
    <div class="logoContainer"></div>
    <div (click)="openMenu()" class="sideUserAccount d-flex align-items-center mr-3 px-3 py-2">
      <user-image
      class="mr-3"
      height="50px"
      width="50px"
      [linkToImage]="user?.profileImage" >

      </user-image>
      <div class="userInfo d-flex flex-column">
          <h6 class="m-0">Ibrahim Rahhal</h6>
          <small class="font-weight-lighter">Fullstack Developer</small>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-center px-3">
    <a class="navItem px-5 py-2" [routerLink]="['/dashboard']" routerLinkActive="activeLink">
      Dashboard
    </a>
    <a class="navItem px-5 py-2" >
      How It Works
    </a>
    <a class="navItem px-5 py-2" [routerLink]="['/explore/choose']" routerLinkActive="activeLink">
      Explore
    </a>
    <a class="navItem px-5 py-2">
      Content
    </a>
  </nav>
</header>
