.strokedButton{
  border-style: solid !important;
  border-width: solid !important;
  border-color: #e25252;
}

.roundedButton{
  border-radius: 1.5rem;
}

.longButton{
  padding-left:1.5rem ;
  padding-right:1.5rem ;
}
.thinButton{
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}


