.strokedButton{
  border: solid 1px #e25252 !important;
}

.roundedButton{
  border-radius: 1.5rem;
}

.longButton{
  padding-left:1.5rem ;
  padding-right:1.5rem ;
}
.thinButton{
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}


