.loginSlideAnimation{
  transition: 0.3s;
  right:0;
  z-index:20;
}
.logo-container{
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 99999;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;

}
.hideLogo{
  opacity: 0;
}

.logoRight{
  left: unset;
  right: 10px;
}
.loginSide{
  transform: translateX(-66.66%);
}
.loginSignUpSliders{
  z-index: 10;
  opacity: 0.8;
}

.loginSignUpSlidersBackgound{
  z-index: 2;
  background-size: cover;
  background-image: url('../../assets/teamsImage.jpg');
  backdrop-filter: blur(30px);
  background-position: right center;
}

.loginSignUpSlidersBackgound.loginSide{
  background-position: left center;

}
@keyframes slideFromBottom{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }

}
.completeYourDataCont{
  position: absolute;
  bottom: 10vh;
  left:0;
  right: 0;
  margin: auto;
  height: 75vh;
  width: 50vw;
  z-index: 100;
  animation-name: slideFromBottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 0.6s;
  border-radius: 0.5rem;
}

.signContainer{
  width: 40%;
}

@media screen and (max-width:768px){
  .signContainer{
    width: 90%;
    margin: 0 auto;
    display: none;
  }

  .signContainer.active{
    display: block
  }
  .loginSlideAnimation{
    display: none;
  }






  .completeYourDataCont{
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
}

// ::ng-deep app-login-signup .mat-progress-spinner circle, .mat-spinner circle{
// // stroke: #ffffff;
// }
