<!-- Footer -->
<footer class="page-footer mt-5 font-small blue-grey lighten-5" [class.shrinkOnProjectDashboard]="isProjectDashboard" style="background-color: white;">

  <div style="background-color: #e25252;">
    <div class="container">
      <div class="row py-3 d-flex align-items-center">

      </div>

    </div>
  </div>

  <div class="py-3">
     <h6 class="text-center">Teamslounge</h6>
     <small class="text-center font-weight-light w-50 d-block mx-auto">
      TeamsLounge is a platform that connects talented individuals with projects. Create better teams by our team matching technology. Manage your workload, see insights and communicate with your team in one digital workspace.
     </small>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="www.teamslounge.com/">Teamslounge</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
