<div class="px-3 py-2 notiContainer">
  <div class="d-flex align-items-center">
    <div class="m-2">
      <user-image
      height="50px"
      width="50px"
      [userName]="notification.extras.project?.projectName" >
      </user-image>
    </div>
    <small class="color-black d-block">
      <span class="font-weight-bold text-capitalize">
        <span class="d-block">
          {{ notification.extras.project?.projectName }}
        </span>
      </span>Has invited you to join the project
    </small>
  </div>

  <div class="buttons d-flex justify-content-end">
    <custom-button
    color="primary"
    [loading]="false"
    [disabled]="false"
    [thin]="true"
    [rounded]="true"
    [long]="true"
    [stroked]="true"
    [passedClass]="{'font-weight-light':true}"
    (clickEvent)="navigateToDashboard()"
    >
        <small>
          View The Invititation
        </small>
    </custom-button>

  </div>
  </div>
