<app-header></app-header>
<div class="welcomeSection d-flex justify-content-center flex-column align-items-center">
    <div class="dashboardImage">

    </div>
    <h4 class=" color-black mt-3">
      <span class="font-weight-bold ">Welcome Back,</span>
      <span class="font-weight-normal">
        Ibrahim
      </span>
    </h4>
</div>
<div class=" w-100 d-flex" style="min-height: 50vh;">
  <div class="w-50 px-4" >
      <h4 class="font-weight-bold color-black">
        Your Projects
      </h4>
      <perfect-scrollbar style="height: 40vh;">
        <div class="px-5 py-4">
          <div class="mx-2 my-3">
            <project-widget>

            </project-widget>
          </div>
          <div class="mx-2 my-3">
            <project-widget>

            </project-widget>
          </div>
          <div class="mx-2 my-3">
            <project-widget>

            </project-widget>
          </div>
          <div class="mx-2 my-3">
            <project-widget isNewProject="true">

            </project-widget>
          </div>

        </div>
      </perfect-scrollbar>
  </div>
</div>

