.sideSection{
  max-width: 330px;
  min-width: 250px;
}
.mainSecion{
  max-width: calc(90vw - 330px);
  min-width: calc(90vw - 250px);
}

mat-icon{
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

